
<div class="component" id="list_template">
    <input type="hidden" class="key" />
    <input type="hidden" class="type" value="text" />
    <div>
        <div class="field-container">
            <div class="label-container">
                <label class="name"></label>
            </div>
            <div class="input-container">
                <select>
                    <option>- Select Item -</option>
                </select>
            </div>
        </div>
        <div class="description"></div>
    </div>
</div>