@{
    Layout = "~/Plugins/Components/_ComponentLayout.cshtml";
}

<div class="field-container">
    <div class="label-container">
        <label>
            Display
        </label>
    </div>
    <div class="input-container">
        <select class="display" data-xml-store="display">
            <option value="dropdown">Dropdown</option>
            <option value="radio">Radio</option>
        </select>
    </div>

</div>

<div class="field-container">
    <div class="label-container">
        <label>
            List
        </label>
    </div>
    <div class="input-container">
        <textarea data-xml-store="list"></textarea>
    </div>
</div>
