<div class="component" id="bool_template">
    <input type="hidden" class="key" />
    <input type="hidden" class="type" value="bool" />
    <div>
        <div class="field-container">
            <div class="label-container">
                <label class="name"></label>
            </div>
            <div class="input-container">
                <input type="checkbox" class="value" />
            </div>
        </div>
        <div class="description"></div>
    </div>
</div>
