<div class="component" id="container_template">
    <input type="hidden" class="key" />
    <input type="hidden" class="type" value="container" />
    <div>
        <div>
            <label class="name">
            </label>

        </div>
        <div class="description"></div>
        <div>
            <div class="content"></div>

            <div class="template" style="display:none;">

                <div class="header">
                    <a class="container-item-collapse"><span>Collapse</span></a>
                    <a class="container-item-expand" style="display:none;"><span>Expand</span></a>
                    <a class="container-item-remove"><span>Remove</span></a>
                    <a class="container-item-up"><span>Up</span></a>
                    <a class="container-item-down"><span>Down</span></a>
                </div>

                <div class="template-components">
                </div>
            </div>
        </div>

        <div>
            <a class="addChild">Add Child</a>
        </div>

    </div>
</div>
</div>
