<div id="component_container" class="component">
    <input type="hidden" value="container" class="type" />
    <h4 class="component-heading">Container</h4>
    <div class="actions">
        <a class="down" title="Move down"><span>Down</span></a>
        <a class="up" title="Move up"><span>Up</span></a>
        <a class="delete" title="Delete"><span>Delete</span></a>
    </div>
    <div>
        <div class="field-container">
            <div class="label-container">
                <label>
                    Name
                </label>
            </div>
            <div class="input-container">
                <input type="text" class="name" value="" />
            </div>
        </div>
        <div class="field-container">
            <div class="label-container">
                <label>
                    Key
                </label>
            </div>
            <div class="input-container">
                <input type="text" class="key" value="" />
            </div>
        </div>
        <div class="field-container">
            <div class="label-container">
                <label>
                    Description
                </label>
            </div>
            <div class="input-container">
                <textarea class="description"></textarea>
            </div>
        </div>
        <div class="field-container">
            <div class="label-container">
                <label>
                    Number Allowed
                </label>
            </div>
            <div class="input-container">
                <input type="text" class="max-number" value="1" />
            </div>
        </div>

        <div class="field-container">
            <div class="label-container">
                <label>Required</label>
            </div>
            <div class="input-container">
                <input type="checkbox" class="required" value="" />
            </div>
        </div>

        <div>
            <ul class="container_add_items">
                <li><a class="add_text"><span>Add Text</span></a></li>
                <li><a class="add_link"><span>Add Link</span></a></li>
                <li><a class="add_image"><span>Add Image</span></a></li>
                <li><a class="add_html"><span>Add Html</span></a></li>
                <li><a class="add_bool"><span>Add Bool</span></a></li>
                <li><a class="add_container"><span>Add Container</span></a></li>
            </ul>
        </div>
        <div class="container_content">
        </div>
    </div>
</div>