<div id="component_generic" class="component">
    <input type="hidden" value="[Type]" class="type" />
    <h4 class="component-heading">[Component]</h4>

    <div class="actions">
        <a class="down" title="Move down"><span>Down</span></a>
        <a class="up" title="Move up"><span>Up</span></a>
        <a class="delete" title="Delete"><span>Delete</span></a>
    </div>

    <div>
        <div class="field-container">
            <div class="label-container">
                <label>
                    Name
                </label>
            </div>
            <div class="input-container">
                <input type="text" class="name" value="" />
            </div>
        </div>
        <div class="field-container">
            <div class="label-container">
                <label>
                    Key
                </label>
            </div>
            <div class="input-container">
                <input type="text" class="key" value="" />
            </div>
        </div>

        <div class="field-container">
            <div class="label-container">
                <label>Required</label>
            </div>
            <div class="input-container">
                <input type="checkbox" class="required" value="" />
            </div>
        </div>

        <div class="field-container">
            <div class="label-container">
                <label>
                    Description
                </label>
            </div>
            <div class="input-container">
                <textarea class="description"></textarea>
            </div>
        </div>
    </div>
</div>