<div class="component" id="image_template">
    <input type="hidden" class="key" />
    <input type="hidden" class="type" value="image" />
    <div>
        <div class="field-container">
            <div class="label-container">
                <label class="name"></label>
            </div>
            <div class="input-container">
                <input type="hidden" class="asset-value" />
                <input type="hidden" class="crop" value="0" />
                <div class="image-thumb select-asset"></div>
                @*<a class="button select-asset image">
                    <span>Select image</span>
                </a>*@
                <a class="button crop-image">
                    <span>
                        <span>Crop</span>
                    </span>
                </a>
            </div>

            <div class="description"></div>
        </div>
    </div>
</div>
