@{
    Layout = "~/Plugins/Components/_ComponentLayout.cshtml";
}

<div class="field-container">
    <div class="label-container">
        <label>Has Cropper</label>
    </div>
    <div class="input-container">
        <input type="checkbox" class="has-cropper" data-xml-store="has-cropper" />
    </div>
</div>