<div class="component" id="text_template">
    <input type="hidden" class="key" />
    <input type="hidden" class="type" value="text" />
    <div>
        <div class="field-container">
            <div class="label-container">
                <label class="name"></label>
            </div>
            <div class="input-container">
                <input type="text" class="display_text value" />
                <textarea class="display_textarea value"></textarea>
                <textarea class="display_wysiwyg value"></textarea>
                <input type="password" class="value display_password password" />
            </div>
        </div>
        <div class="description"></div>
    </div>
</div>