@{
    Layout = "~/Plugins/Components/_ComponentLayout.cshtml";
}

<div class="field-container">
    <div class="label-container">
        <label>
            Display
        </label>
    </div>
    <div class="input-container">
        <select class="display" data-xml-store="display">
            <option value="text">Single</option>
            <option value="textarea">Multiline</option>
            <option value="password">Password</option>
            <option value="wysiwyg">WYSIWYG</option>
        </select>
    </div>
</div>